{% extends 'base.html' %}
{% block title %}
Notary
{% endblock title %}
{% block body %}
<div class="alert alert-warning text-center" role="alert">
    <h1>Welcome to Notary !</h1>
    <h3>A minimalistic create, read, update, delete app .  </h3>
</div>
    
<div class="container my-5 aceT">
    
    <form action="/" method="POST" >
        <div class="mb-3">
            <label for="title" class="form-label"><h5>Title</h5></label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label"><h5>Description</h5></label>
            <input type="text" name="desc" class="form-control" id="desc" required>
        </div>
        <button  type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>

<div class="container aceN">
    <h2>Your notes : </h2>
    {% if allNotes|length==0 %}
    
    <div class="alert alert-danger">
        Nothing to show. Make your first note now.
    </div>
    
    {% else %}
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Serial no.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for note in allNotes %}

            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{note.title}}</td>
                <td>{{note.desc}}</td>
                <td>{{note.date}}</td>
                <td>
                    
                    <a href="/delete/{{note.sno}}"><button  type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button></a>
                    <a href="/update/{{note.sno}}"><button  type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button></a>
                </td>
            </tr>
            
            {% endfor %}
            
            
        </tbody>
    </table>
    {% endif %}
</div>


{% endblock body %}